body {
  background-image: linear-gradient(to bottom, #030303 , #250250 );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  background-color: black;
  position: static;
  list-style-type: none;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 5%;
  grid-template-rows: 50px;
  justify-items: center;
  overflow: hidden;
  transition: all 0.2s;
}

li {
  display: block;
  color: white;
  grid-column-start: auto;
  text-decoration: none;
}

.changeTextBtn {
  border: none;
  color: white;
  background-color: inherit;
  font-size: 30px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-transform: uppercase;
  opacity: 0.6;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  transition-property: font-size, opacity;
}

.changeTextBtn:hover {
  opacity: 1;
  font-size: 32px;
  cursor: pointer;
}

.content{
  animation: pageTransition 500ms;
  animation-timing-function: ease-in;
  display: grid;
  grid-template-columns: 5% 30% 60% 5%;
  grid-template-rows: 5% 45% 45% 5%%;
}


.aboutText{
  color: white;
  font-size: 1.5em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  align-self: center;
  justify-self: center;
  grid-row-start: 2;
  grid-row-end: span 3;
  grid-column-start: 3;
  grid-column-end: 3;
}

.homeContent{
  animation: intro 1000ms;
  animation-timing-function: ease-in-out;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 10% 30% 45% 10% 5%;
}

.headshot{
  align-self: center;
  justify-self: center;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
}

.homeText{
  color: white;
  font-size: 5.5em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  align-self: center;
  justify-self: center;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
}

.homeSub{
  color: white;
  font-size: 2.5em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  align-self: end;
  justify-self: center;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 2;
}

@keyframes intro {
  from{
    opacity: 0;
    transform: translatey(5%);
  }
  to{
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes pageTransition {
  from{
    opacity: 0;
    transform: translatey(-8%);
  }
  to{
    opacity: 1;
    transform: translatey(0);
  }
}
